<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOGS" value="./logs" />

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                [%highlight(%-5level)] [%blue(%d{yy-MM-dd HH:mm:ss})] %yellow(%30.30logger{0}) : %msg%n%throwable
            </Pattern>
        </layout>
    </appender>

<!--    <appender name="RollingFile"  class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--        <file>${LOGS}/drop-project.log</file>-->
<!--        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">-->
<!--            <Pattern>[%highlight(%-5level)] [%blue(%d{yy-MM-dd HH:mm:ss})] %yellow(%30.30logger{0}) : %msg%n%throwable</Pattern>-->
<!--        </encoder>-->

<!--        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--            &lt;!&ndash; rollover daily and when the file reaches 50 MegaBytes &ndash;&gt;-->
<!--            <fileNamePattern>${LOGS}/archived/drop-project-%d{yyyy-MM-dd}.%i.log</fileNamePattern>-->
<!--            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">-->
<!--                <maxFileSize>50MB</maxFileSize>-->
<!--            </timeBasedFileNamingAndTriggeringPolicy>-->
<!--        </rollingPolicy>-->
<!--    </appender>-->

    <!-- LOG everything at INFO level -->
    <root level="info">
<!--        <appender-ref ref="RollingFile" />-->
        <appender-ref ref="Console" />
    </root>

    <!-- LOG "com.baeldung*" at TRACE level -->
<!--    <logger name="com.baeldung" level="trace" additivity="false">-->
<!--        <appender-ref ref="RollingFile" />-->
<!--        <appender-ref ref="Console" />-->
<!--    </logger>-->

<!--        <logger name="org.springframework" level="debug">-->
<!--            <appender-ref ref="Console" />-->
<!--        </logger>-->

</configuration>