<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/layout :: head (pageTitle='Drop Project - Assignment detail')}">
</head>

<body>

<div th:replace="~{layout/layout :: header}"></div>

<div class="container" style="max-width: 760px; margin-bottom: 65px">

    <div class="alert alert-info" th:text="${message}" th:if="${message}" />
    <div class="alert alert-danger" th:text="${error}" th:if="${error}" />

    <!--/*@thymesVar id="assignment" type="org.dropproject.dao.Assignment"*/-->
    <!--/*@thymesVar id="assignees" type="java.util.List<org.dropproject.dao.Assignee>"*/-->
    <!--/*@thymesVar id="acl" type="java.util.List<org.dropproject.dao.AssignmentACL>"*/-->
    <!--/*@thymesVar id="report" type="java.util.List<org.dropproject.dao.AssignmentReport>"*/-->
    <div class="row">
        <h1 class="page-header col-sm-11" th:text="'Assignment ' + ${assignment.id}">Assignment</h1>
        <span class="label label-warning col-sm-1" th:if="${!assignment.active}">Inactive</span>
    </div>

    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#1" data-toggle="tab">Overview</a>
        </li>
        <li>
            <a href="#2" data-toggle="tab">Validation Report</a>
        </li>
        <li>
            <a href="#3" data-toggle="tab">Tests</a>
        </li>
        <li>
            <a th:href="@{'/report/' + ${assignment.id}}">Submissions</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="1">
            <p>&nbsp;</p>

            <div class="btn-group pull-right" role="group">
                <a th:href="@{'/assignment/setup-git/' + ${assignmentId} + '?reconnect=true'}" class="btn btn-default"
                   data-toggle="confirmation" data-title="Reconnect"
                   data-content="Are you sure you want to reconnect this assignment? This will generate a new key that you'll have to introduce in github"
                   data-btn-ok-label="Yes, reconnect!" data-btn-cancel-label="Cancel">Reconnect with Git</a>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-export"></span> Export <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a th:href="@{'/assignment/export/' + ${assignmentId}}"
                           class="btn-group" title="Export only the assignment">Only assignment</a>
                    </li>
                    <li>
                        <a th:href="@{'/assignment/export/' + ${assignmentId} + '?includeSubmissions=true'}"
                           class="btn-group" title="Export the assignment and all its submissions">Assignment and submissions</a>
                    </li>
                </ul>
                <form th:if="${isAdmin}" class="inline btn-group" method="post" th:action="@{'/assignment/delete/' + ${assignmentId} + '?force=true'}" >
                    <input type="submit" value="Delete" class="btn btn-default" data-toggle="confirmation" data-title="Delete"
                           data-content="Are you sure you want to delete this assignment including all its submissions?"
                           data-btn-ok-label="Yes, delete!" data-btn-cancel-label="Cancel" />
                </form>
            </div>
            <p>&nbsp;</p>

            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Name:</label>
                    <div class="col-sm-9 read-row" th:text="${assignment.name + ' (created by ' + assignment.ownerUserId + ')'}"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Submission link:</label>
                    <div class="col-sm-9 read-row alert alert-info">
                        <a th:href="@{'/upload/' + ${assignment.id}}" th:text="@{'/upload/' + ${assignment.id}}">link</a>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Tags:</label>
                    <div class="col-sm-9 read-row space-between">
                        <span th:each="tag: ${assignment.tagsStr}" th:text="${tag}" class="label label-info" />
                    </div>
                </div>
                <div class="form-group" style="margin-bottom: 0;">
                    <label class="col-sm-3 control-label">Connected to:</label>
                    <a th:if="${assignment.gitRepositoryPrivKey != null}" class="col-sm-9 read-row"
                        th:text="${assignment.gitRepositoryUrl}"
                        th:href="${assignment.linkToGithub()}">link to github</a>
                    <div th:if="${assignment.gitRepositoryPrivKey == null}" class="col-sm-9 read-row alert alert-warning">This assignment is not yet connected to a git repository!</div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" >SSH Key Fingerprint:</label>
                    <span class="col-sm-9 read-row" th:text="${sshKeyFingerprint}">Fingerprint</span>
                </div>
                <div class="form-group" th:if="${lastCommitInfoStr != null}">
                    <label class="col-sm-3 control-label">Last commit:</label>
                    <div class="col-sm-8">
                        <span class="read-row" th:text="${lastCommitInfoStr}"></span>
                        <button type="button" id="refreshBtn" class="btn btn-primary btn-sm has-spinner">
                            <span class="spinner"><i class="fas fa-sync fa-spin"></i></span> Refresh
                        </button>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Package:</label>
                    <div class="col-sm-9 read-row" th:text="${assignment.packageName}"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Language:</label>
                    <div class="col-sm-9 read-row" th:text="${assignment.language}"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Submission method:</label>
                    <div class="col-sm-9 read-row" th:text="${assignment.submissionMethod}"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Files <u>not copied</u> over the student submissions:</label>
                    <div class="col-sm-9 read-row">/src/main/**</div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Due Date:</label>
                    <div class="col-sm-9 read-row" th:if="${assignment.dueDate != null}" th:text="${assignment.dueDateFormatted()}"></div>
                    <div class="col-sm-9 read-row" th:if="${assignment.dueDate == null}">Not set</div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Accepts student tests:</label>
                    <div class="col-sm-9 read-row" th:text="${assignment.acceptsStudentTests}"></div>
                </div>
                <div class="form-group" th:if="${assignment.acceptsStudentTests}">
                    <label class="col-sm-3 control-label">Minimum # of tests:</label>
                    <div class="col-sm-9 read-row" >
                        <span th:text="${assignment.minStudentTests}"></span>
                        <span th:if="${assignment.calculateStudentTestsCoverage}">(calculate coverage)</span>
                    </div>
                </div>
                <div class="form-group" th:if="${assignment.hiddenTestsVisibility}">
                    <label class="col-sm-3 control-label">Hidden tests' results:</label>
                    <div class="col-sm-9 read-row" th:text="${assignment.hiddenTestsVisibility}"></div>
                </div>
                <div class="form-group" th:if="${assignment.cooloffPeriod}">
                    <label class="col-sm-3 control-label">Cool-off period:</label>
                    <div class="col-sm-9 read-row">
                            <span th:text="${assignment.cooloffPeriod + ' minutes'}"
                                  th:style="${cooloffOverride != null and cooloffOverride.isDisabled} ? 'text-decoration: line-through;' : ''"></span>

                            <!-- Status indicator when disabled -->
                            <span th:if="${cooloffOverride != null and cooloffOverride.isDisabled}"
                                  class="label label-warning" style="margin-left: 10px;">
                                DISABLED by <span th:text="${cooloffOverride.disabledBy}">teacher</span>
                                until <span th:text="${#temporals.format(cooloffOverride.expiryTime, 'HH:mm')}">00:00</span>
                            </span>

                            <!-- Dropdown to disable cooloff (shown when active) -->
                            <span th:if="${cooloffOverride == null or !cooloffOverride.isDisabled}" style="margin-left: 10px;">
                                <select id="disableCooloffDropdown" class="form-control input-sm" style="display: inline-block; width: auto; vertical-align: baseline;">
                                    <option value="">Disable temporarily...</option>
                                    <option value="15">Disable for 15 min</option>
                                    <option value="30">Disable for 30 min</option>
                                    <option value="60">Disable for 60 min</option>
                                </select>
                            </span>

                            <!-- Re-enable button (shown when disabled) -->
                            <button th:if="${cooloffOverride != null and cooloffOverride.isDisabled}"
                                    type="button"
                                    class="btn btn-primary btn-xs"
                                    style="margin-left: 10px;"
                                    onclick="enableCooloff()">
                                Re-enable Now
                            </button>
                    </div>
                </div>
                <div class="form-group" th:if="${assignment.maxMemoryMb}">
                    <label class="col-sm-3 control-label">Max memory:</label>
                    <div class="col-sm-9 read-row" th:text="${assignment.maxMemoryMb + ' Mb'}"></div>
                </div>
                <div class="form-group" th:if="${assignment.showLeaderBoard}">
                    <label class="col-sm-3 control-label">Show leaderboard:</label>
                    <div class="col-sm-9 read-row" th:text="${assignment.leaderboardType}"></div>
                </div>
                <div class="form-group" th:if="${assignment.mandatoryTestsSuffix != ''}">
                    <label class="col-sm-3 control-label">Mandatory tests suffix:</label>
                    <div class="col-sm-9 read-row" th:text="${assignment.mandatoryTestsSuffix}"></div>
                </div>
                <div class="form-group" th:if="${assignment.projectGroupRestrictions?.minGroupSize}">
                    <label class="col-sm-3 control-label">Group size:</label>
                    <div class="col-sm-9 read-row" th:text="${assignment.projectGroupRestrictions.minGroupSize + ' - ' + assignment.projectGroupRestrictions.maxGroupSize +  ' students'}"></div>
                </div>
                <div class="form-group" th:if="${assignment.projectGroupRestrictions != null and !assignment.projectGroupRestrictions?.exceptionsAsList().isEmpty()}">
                    <label class="col-sm-3 control-label">Exceptions to group size:</label>
                    <div class="col-sm-9 read-row">
                        <table class="table table-bordered">
                            <tbody>
                            <tr th:each="studentId : ${assignment.projectGroupRestrictions?.exceptionsAsList()}">
                                <td th:text="${studentId}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Visibility:</label>
                    <div class="col-sm-9 read-row" th:text="${assignment.visibility}"></div>
                </div>
                <div class="form-group" th:if="${!assignees.isEmpty()}">
                    <label class="col-sm-3 control-label">Authorized submitters:</label>
                    <div class="col-sm-9 read-row">
                        <table class="table table-bordered">
                            <tbody>
                            <tr th:each="assignee : ${assignees}">
                                <td th:text="${assignee.authorUserId}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

                <div class="form-group" th:if="${!acl.isEmpty()}">
                    <label class="col-sm-3 control-label">Other teachers:</label>
                    <div class="col-sm-9 read-row">
                        <table class="table table-bordered">
                            <tbody>
                            <tr th:each="assignmentACL : ${acl}">
                                <td th:text="${assignmentACL.userId}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

                <a class="btn btn-primary" th:href="@{'/assignment/edit/' + ${assignment.id}}" role="button">Edit</a>
            </form>
        </div>
        <div class="tab-pane" id="2">
            <p>&nbsp;</p>
            <div class="alert alert-info" th:if="${report.isEmpty()}">Sorry. No report information.</div>
            <p th:text="${reportMsg}" th:if="${!report.isEmpty()}"></p>
            <table class="table" th:if="${!report.isEmpty()}">
                <tbody>
                <tr th:each="reportLine : ${report}">
                    <td><img th:src="@{'/img/' + ${reportLine.typeIcon()}}" width="16" /></td>
                    <td>
                        <strong th:text="${reportLine.message}">Some error message</strong><br/>
                        <div th:utext="${reportLine.description}">Some error description</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="3">
            <p>&nbsp;</p>
            <div class="alert alert-info" th:if="${tests.isEmpty()}">Sorry. No tests information.</div>
            <table class="table" th:if="${!tests.isEmpty()}">
                <thead>
                <tr>
                    <th>Test class</th>
                    <th>Test method</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="test : ${tests}">
                    <td th:text="${test.testClass}"></td>
                    <td th:text="${test.testMethod}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

<div th:replace="~{layout/layout :: footer}"></div>

<script th:src="@{/js/dropproject.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-confirmation2@2.4.2/bootstrap-confirmation.min.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var refreshUrl = /*[[@{'/assignment/refresh-git/' + ${assignment.id}}]]*/'';
    var detailUrl = /*[[@{'/assignment/info/' + ${assignment.id}}]]*/'';
    var _csrf_token = /*[[${_csrf?.token}]]*/ '';
    var _csrf_param_name = /*[[${_csrf?.parameterName}]]*/ '';
    /*]]>*/
</script>
<script>
    $('#refreshBtn').on('click', function (e) {

        $(this).toggleClass('active');

        var requestData = {};
        requestData[_csrf_param_name] = _csrf_token;
        $.ajax({
            url: refreshUrl,
            type: 'POST',
            data: requestData,
            success: function (response) {
                window.location.replace(detailUrl);
            },
            error: function (response) {
                $(this).toggleClass('active');
                var jsonResponse = JSON.parse($.trim(response.responseText));
                alert(jsonResponse.error);
            }
        });
    });
</script>
<script>
    $('[data-toggle=confirmation]').confirmation({
        rootSelector: '[data-toggle=confirmation]'
        // other options
    });
</script>

<script th:inline="javascript">
    /*<![CDATA[*/
    var assignmentId = /*[[${assignment.id}]]*/ '';
    var contextPath = /*[[@{/}]]*/ '';
    var csrfToken = /*[[${_csrf?.token}]]*/ '';
    var csrfParamName = /*[[${_csrf?.parameterName}]]*/ '';

    // Auto-reload page when cooloff override expires
    var cooloffDisabled = /*[[${cooloffOverride?.isDisabled}]]*/ false;
    var cooloffRemainingMinutes = /*[[${cooloffOverride?.remainingMinutes}]]*/ 0;
    if (cooloffDisabled && cooloffRemainingMinutes > 0) {
        // Reload page when override expires (add 30 seconds buffer)
        setTimeout(function() {
            location.reload();
        }, (cooloffRemainingMinutes * 60 * 1000) + 30000);
    }

    // Handle dropdown selection for disabling cooloff
    $(document).ready(function() {
        $('#disableCooloffDropdown').change(function() {
            var duration = $(this).val();
            if (duration) {
                disableCooloff(parseInt(duration));
            }
        });
    });

    function disableCooloff(duration) {
        if (!confirm('Disable cooloff for assignment "' + assignmentId + '" for ' + duration + ' minutes?')) {
            return;
        }

        var requestData = {};
        requestData[csrfParamName] = csrfToken;
        requestData['duration'] = duration;

        $.ajax({
            url: contextPath + 'assignment/cooloff/' + assignmentId + '/disable',
            type: 'POST',
            data: requestData,
            success: function(response) {
                location.reload();
            },
            error: function(xhr) {
                var errorMsg = 'Error disabling cooloff';
                try {
                    var jsonResponse = JSON.parse(xhr.responseText);
                    errorMsg = jsonResponse.error || errorMsg;
                } catch (e) {}
                alert(errorMsg);
            }
        });
    }

    function enableCooloff() {
        if (!confirm('Re-enable cooloff for assignment "' + assignmentId + '" now?')) {
            return;
        }

        var requestData = {};
        requestData[csrfParamName] = csrfToken;

        $.ajax({
            url: contextPath + 'assignment/cooloff/' + assignmentId + '/enable',
            type: 'POST',
            data: requestData,
            success: function(response) {
                location.reload();
            },
            error: function(xhr) {
                var errorMsg = 'Error enabling cooloff';
                try {
                    var jsonResponse = JSON.parse(xhr.responseText);
                    errorMsg = jsonResponse.error || errorMsg;
                } catch (e) {}
                alert(errorMsg);
            }
        });
    }
    /*]]>*/
</script>

</body>
</html>