<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head (pageTitle='Drop Project - Build report')">
</head>

<body>

<div th:replace="layout/layout :: header"></div>
<style>
    .table > tbody > tr > td {
        vertical-align: middle;
    }
</style>

<!--/*@thymesVar id="gitSubmission" type="org.dropProject.dao.GitSubmission"*/-->
<!--/*@thymesVar id="assignment" type="org.dropProject.dao.Assignment"*/-->
<!--/*@thymesVar id="summary" type="org.dropProject.dao.SubmissionReport"*/-->
<!--/*@thymesVar id="submission" type="org.dropProject.dao.Submission"*/-->
<div class="container" style="max-width: 760px; margin-bottom: 65px">

    <div class="alert alert-info" th:text="${message}" th:if="${message}" />

    <h1 class="page-header" th:text="'Build report for submission ' + ${submission.id}"></h1>
    <h6>
        Assignment: <span th:text="${assignment.id}"></span> |
        Submitted: <span th:text="${#dates.format(submission.submissionDate, 'dd-MM HH:mm:ss')}"></span>
        <a th:if="${isTeacher}"
           th:href="@{'/submissions?assignmentId=' + ${assignment.id} + '&groupId=' + ${submission.group.id}}">(other submissions)</a>
        <span th:if="${submission.overdue}" class="label label-danger">Overdue</span>
        <span th:if="${submission.markedAsFinal}" class="label label-success">Final</span>
    </h6>

    <h6 th:if="${gitSubmission} != null">
        Git repository: <a th:href="${gitRepository}" th:text="${gitRepository}">link</a> |
        Last commit: <a th:text="${#dates.format(gitSubmission.lastCommitDate, 'dd-MM HH:mm:ss')}"
                        th:href="${gitRepositoryWithHash}"></a>
    </h6>

    <h6 th:if="${isTeacher}"></h6>

    <div class="btn-group" role="group" th:if="${isTeacher}" th:unless="${autoRefresh}">

        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Rebuild <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li>
                <form class="inline btn-group" method="post" th:action="'../rebuild/' + ${submission.id}">
                    <input type="submit" value="Without changing anything" class="btn" title="Rebuild the submission without changing anything (useful for timeouts)" />
                </form>
            </li>
            <li>
                <form class="inline btn-group" method="post" th:action="'../rebuildFull/' + ${submission.id}">
                    <input type="submit" value="Reapplying the assignment test files" class="btn" title="Reapply the assignment test files and rebuild" />
                </form>
            </li>
        </ul>
    </div>

    <div class="btn-group" role="group" th:if="${isTeacher}" th:unless="${autoRefresh}">

        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Download <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li>
                <a th:href="'../downloadOriginalProject/' + ${submission.id}">Original submission (.zip)</a>
            </li>
            <li>
                <a th:href="'../downloadMavenProject/' + ${submission.id}">Mavenized submission (.zip)</a>
            </li>
        </ul>
    </div>

    <div class="btn-group" role="group" th:if="${isTeacher}" th:unless="${autoRefresh}">
        <form class="inline btn-group" method="post" th:action="'../markAsFinal/' + ${submission.id}">
            <input type="submit" th:if="${!submission.markedAsFinal}" value="Mark as Final" class="btn btn-default"/>
            <input type="submit" th:if="${submission.markedAsFinal}" value="Unmark as Final" class="btn btn-default"/>
        </form>
    </div>

    <div class="btn-group" role="group" th:if="${isTeacher}" th:unless="${autoRefresh}">
        <form class="inline btn-group" method="post" th:action="'../delete/' + ${submission.id}">
            <input type="submit" value="Delete" class="btn btn-default" data-toggle="confirmation" data-title="Delete"
                   data-content="Are you sure you want to delete this submissions?"
                   data-btn-ok-label="Yes, delete!" data-btn-cancel-label="Cancel"/>
        </form>
    </div>

    <a th:href="@{'/upload/' + ${assignment.id}}" th:if="${submission.getStatus() == T(org.dropProject.dao.SubmissionStatus).VALIDATED}" class="btn btn-primary">
        <i class="glyphicon glyphicon-upload"></i> Submit new project
    </a>

    <div class="alert alert-error" th:if="${error}">
    <span th:text="${error}"/><i th:if="${autoRefresh}" class="fa fa-spinner fa-spin" style="font-size:24px"></i>
    </div>

    <div th:if="${error == null}">
    <h2>Group elements</h2>
    <table class="table table-bordered">
        <tbody>
        <tr th:each="author : ${authors}">
            <td>
                <span th:text="${author.number}"></span>
                <span class="label label-primary" th:if="${author.submitter}">Submitter</span>
            </td>
            <td th:text="${author.name}"></td>
        </tr>
        </tbody>
    </table>

    <h2>Results summary</h2>
    <table class="table table-bordered">
        <tbody>
        <tr th:each="summaryResult : ${summary}">
            <td th:if="${summaryResult.showItem(isTeacher)}">
                <span th:text="${summaryResult.indicator.description}"></span>
                <span th:if="${summaryResult.reportValue != 'OK'}" class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
            </td>
            <td th:if="${summaryResult.showIcon(isTeacher)}">
                <img th:src="@{/img/if_sign-check_299110.png}" th:if="${summaryResult.reportValue == 'OK'}" />
                <img th:src="@{/img/if_sign-error_299045.png}" th:if="${summaryResult.reportValue == 'NOK'}" />
                <img th:src="@{/img/if_sign-question-mark.png}" th:if="${summaryResult.reportValue == 'Not Enough Tests'}" alt="Not Enough Tests" />
            </td>
            <td th:if="${summaryResult.progressSummary(isTeacher) != null}">
                <h4 style="margin-top: 3px">
                    <span class="label" th:classappend="${summaryResult.cssLabel}"
                                        th:text="${summaryResult.progressSummary(isTeacher)}">14/14</span>
                </h4>
            </td>
        </tr>
        </tbody>
    </table>

    <table class="table table-bordered" th:if="${!structureErrors.empty}">
        <thead>
        <tr>
            <th>Project Structure Errors</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="structureError : ${structureErrors}">
            <td th:text="${structureError}"></td>
        </tr>
        </tbody>
    </table>

    <table class="table table-bordered" th:if="${buildReport != null and !buildReport.compilationErrors.empty}">
        <thead>
        <tr>
            <th>Compilation Errors</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="compilationError : ${buildReport.compilationErrors}">
            <td th:text="${compilationError}"></td>
        </tr>
        </tbody>
    </table>

    <table class="table table-bordered" th:if="${buildReport != null and !buildReport.checkstyleErrors.empty}">
        <thead>
        <tr>
            <th>Code Quality (checkstyle) Errors</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="checkstyleError : ${buildReport.checkstyleErrors}">
            <td th:text="${checkstyleError}"></td>
        </tr>
        </tbody>
    </table>

    <!--<table class="table table-bordered" th:if="${buildReport != null and !buildReport.PMDerrors().empty}">-->
        <!--<thead>-->
        <!--<tr>-->
            <!--<th>Code Quality (PMD) Errors</th>-->
        <!--</tr>-->
        <!--</thead>-->
        <!--<tbody>-->
        <!--<tr th:each="pmd : ${buildReport.PMDerrors()}">-->
            <!--<td th:text="${pmd}"></td>-->
        <!--</tr>-->
        <!--</tbody>-->
    <!--</table>-->

    <table class="table table-bordered" th:if="${assignment.acceptsStudentTests and buildReport != null}">
        <thead>
        <tr>
            <th>JUnit Summary (Student Tests)</th>
        </tr>
        <tr th:if="${isTeacher and !buildReport.jacocoResults.isEmpty()}">
            <td>Coverage: <span th:text="${buildReport.jacocoResults[0].lineCoveragePercent}"></span>&percnt; <small>(Only visible to teacher)</small></td>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${buildReport.junitSummaryStudent != null}">
            <td th:text="${buildReport.junitSummaryStudent}"></td>
        </tr>
        <tr th:if="${buildReport.junitSummaryStudent == null}">
            <td th:text="${buildReport.notEnoughStudentTestsMessage()}"></td>
        </tr>
        <tr th:if="${buildReport.junitErrorsStudent}">
            <td>
                <pre th:text="${buildReport.junitErrorsStudent}"></pre>
            </td>
        </tr>
        </tbody>
    </table>


    <table class="table table-bordered" th:if="${buildReport != null and buildReport.junitSummaryTeacher != null}">
        <thead>
        <tr>
            <th>JUnit Summary (Teacher Tests)</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <span th:text="${buildReport.junitSummaryTeacher}"></span><br/>
                <span th:if="${buildReport.junitSummaryTeacherExtraDescription}"
                      th:text="${buildReport.junitSummaryTeacherExtraDescription}"
                      class="label label-danger"></span>
            </td>
        </tr>
        <tr th:if="${buildReport.junitErrorsTeacher}">
            <td>
                <pre th:text="${buildReport.junitErrorsTeacher}"></pre>
            </td>
        </tr>
        </tbody>
    </table>

    <table class="table table-bordered" th:if="${isTeacher and buildReport != null and buildReport.junitSummaryHidden != null}">
        <thead>
        <tr>
            <th>JUnit Summary (Hidden Tests)<br/><small>(Students don't see this)</small></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${buildReport.junitSummaryHidden}"></td>
        </tr>
        <tr th:if="${buildReport.junitErrorsHidden}">
            <td>
                <pre th:text="${buildReport.junitErrorsHidden}"></pre>
            </td>
        </tr>
        </tbody>
    </table>
    </div>

    <a th:href="@{'/upload/' + ${assignment.id}}" th:if="${submission.getStatus() == T(org.dropProject.dao.SubmissionStatus).VALIDATED}" class="btn btn-primary">
        <i class="glyphicon glyphicon-upload"></i> Submit new project
    </a>
    <div>&nbsp;</div>

    <!--/*@thymesVar id="buildReport" type="org.dropProject.data.BuildReport"*/-->
    <div class="panel panel-default" th:if="${buildReport != null and readmeHTML != null and isTeacher}">
        <div class="panel-heading">
        <a data-toggle="collapse" href="#collapseReadme"
               aria-expanded="false" aria-controls="collapseReadme" title="Click to expand/collapse">README (only visible to teachers)</a>
        </div>

        <div class="panel-body" th:utext="${readmeHTML}" id="collapseReadme"></div>
    </div>
    <div class="panel panel-default" th:if="${buildReport != null and isTeacher}">
        <div class="panel-heading">
            <a data-toggle="collapse" href="#collapseFullReport"
               aria-expanded="false" aria-controls="collapseFullReport" title="Click to expand/collapse">Full report (only visible to teachers)</a>
        </div>
        <div class="panel-body" id="collapseFullReport">
            <pre th:text="${buildReport.mavenOutput()}"></pre>
        </div>
    </div>
</div>

<div th:replace="layout/layout :: footer"></div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap-confirmation2@2.4.2/bootstrap-confirmation.min.js"></script>
<script>
    $('[data-toggle=confirmation]').confirmation({
        rootSelector: '[data-toggle=confirmation]'
        // other options
    });
</script>

</body>
</html>
