<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head (pageTitle='Drop Project - Signalled Students')">
</head>

<body>

<div th:replace="layout/layout :: header"></div>

<!--/*@thymesVar id="submissions" type="java.util.ArrayList<org.dropProject.data.SubmissionInfo>"*/-->
<div class="container" style="max-width: 900px; margin-bottom: 65px">

    <h1 class="page-header" th:text="${assignmentId} + ' submissions'"></h1>

    <ul class="nav nav-tabs" id="myTab">
        <li role="presentation" th:classappend="${mode == 'summary'} ? 'active' : ''">
            <a th:href="@{'/report/' + ${assignmentId}}" data-toggle="tab" data-target="#myTab">Summary</a>
        </li>
        <li role="presentation" th:classappend="${mode == 'testMatrix'} ? 'active' : ''">
            <a th:href="@{'/testMatrix/' + ${assignmentId}}" data-toggle="tab" data-target="#myTab">Test Matrix</a>
        </li>
        <li role="presentation" th:classappend="${mode == 'signalledSubmissions'} ? 'active' : ''">
            <a th:href="@{'/signalledSubmissions/' + ${assignmentId}}" data-toggle="tab" data-target="#myTab">Signalled Students</a>
        </li>
    </ul>

    <div class="tab-content ">
        <div role="tabpanel" class="tab-pane active">
            <p>&nbsp;</p>

            <h3>Groups that fail the same tests</h3>

            <div th:if="${message}">
                <div class="alert alert-info" th:text="${message}"/>
            </div>

            <table class="table" th:if="${signalledGroups}">
                <thead>
                    <tr>
                        <th>Students</th>
                        <th>Failing Tests</th>
                    </tr>
                </thead>
                <!--/*@thymesVar id="signalledGroups" type="java.util.ArrayList<org.dropProject.data.GroupedProjectGroups>"*/-->
                <tr th:each="groupedGroups: ${signalledGroups}">
                    <td>
                        <ul class="list-group">
                            <li class="list-group-item" th:each="group: ${groupedGroups.groups}">
                                <span th:text="${'Group:' + group.id + ' | ' + group.authorsNameStr()}"/>
                                <small><a th:href="@{'/submissions/?assignmentId=' + ${assignmentId} + '&groupId=' + ${group.id}}">(submissions)</a></small>
                            </li>
                        </ul>
                    </td>
                    <td>
                        <ul class="list-group">
                            <li class="list-group-item" th:each="testName: ${groupedGroups.getTestNames()}" th:text="${testName}"/>
                        </ul>
                    </td>
                </tr>
            </table>

            <hr>

            <h3>Groups passing many tests with relatively little submissions</h3>

            <div th:if="${otherMessage}">
                <div class="alert alert-info" th:text="${otherMessage}"/>
            </div>

            <div th:if="${offTheAverage}">
                <p>Groups needed, on average, <b th:text="${assignmentAverageSubmissions}"/> (+-
                    <b th:text="${assignmentStandardDeviation}" />) submissions to pass 75% (or more) tests. The groups
                    below are signalled because they only needed <b th:text="${submissionsThreshold}" /> (or less)
                    submissions to pass 75% (or more) tests.
                </p>
                <b>Nr of Tests:</b>
                <p th:text="${assignmentNrOfTests}"/>
            </div>

            <table class="table" th:if="${offTheAverage}">
                <thead>
                    <tr>
                        <th>Group ID</th>
                        <th>Group Members</th>
                        <th>View Submissions</th>
                        <th>Nr of Submissions</th>
                        <th>Nr of Passed Tests</th>
                    </tr>
                </thead>
                <tr th:each="groupStats: ${offTheAverage}">
                    <td th:text="${groupStats.groupID}"/></td>
                    <td th:text="${groupStats.group.authorsNameStr()}"></td>
                    <td>
                        <a th:each="groupID: ${groupStats.groupID}" th:href="@{'/submissions/?assignmentId=' + ${assignmentId} + '&groupId=' + ${groupID}}">View submissions</a>
                    </td>
                    <td th:text="${groupStats.nrSubmissions}"/></td>
                    <td th:text="${groupStats.nrPassedTests}"/></td>
                    <td></td>
                </tr>
            </table>

        </div>
    </div>

</div>

<div th:replace="layout/layout :: footer"></div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap-confirmation2@2.4.2/bootstrap-confirmation.min.js"></script>
<script>
    $(document).ready(function() {

        // clicking on a tab changes the url
        $(document).ready(function() {
            $('#myTab a').click(function(e) {
                e.preventDefault();
                var url = $(this).attr("href");
                location.href = url;
            });
        });
    } );
</script>

</body>
</html>
