<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:replace="layout/layout :: head (pageTitle='Drop Project - Student History / Tracker 3000')">
</head>
<body>

<div th:replace="layout/layout :: header"></div>

<div class="container" style="max-width: 900px; margin-bottom: 65px">
    <div th:if="${message}">
        <div class="alert alert-info" th:text="${message}"/>
    </div>

    <h1 class="page-header" th:text="#{history.title}">Student History</h1>
    <h6><span th:text="${studentHistory.author.userId}"></span> | <span th:text="${studentHistory.author.name}"></span></h6>

    <table>
        <tr th:each="assignment: ${studentHistory.getHistorySortedByDateDesc()}">
            <h4 style="margin-top: 20px">
                <span th:text="${assignment.getAssignment().id}" />
                <img th:if="!${assignment.getGroup().isIndividual()}"
                     th:alt="'Group: ' + ${assignment.getGroup().authorsNameStr()}"
                     th:title="'Group: ' + ${assignment.getGroup().authorsNameStr()}"
                     th:src="@{/img/several-users.png}" width="16px" height="16px"/>
                <img th:if="${assignment.getGroup().isIndividual()}"
                     th:alt="Individual"
                     th:title="Individual"
                     th:src="@{/img/single-user.png}" width="16px" height="16px"/>
            </h4>


            <!--            <small><span th:text="'(' + ${assignment.submissions.size() + ' submissions)'}"/></small>-->

            <table class="table table-condensed" style="margin-left: 20px; width: 700px;">
                <tr th:each="submission: ${assignment.sortedSubmissions}">
                    <td th:text="${#dates.format(submission.submissionDate, 'dd/MMM HH:mm:ss')}"></td>
                    <td th:text="${submission.submitterShortName()}" th:title="${submission.getSubmitterUserId()}"></td>
                    <td th:text="${submission.getStatus().description}"></td>
                    <td>
                        <span th:if="${submission.markedAsFinal}" class="label label-success">Final</span>
                    </td>
                    <td class="text-center" style="min-width: 100px;">
                        <span th:each="report : ${submission.reportElements}">
                            <span th:if="${report.showIcon(isTeacher)}">
                                <img th:src="@{/img/if_sign-check_299110.png}" th:if="${report.reportValue == 'OK'}" th:alt="${report.indicator.description}" th:title="${report.indicator.description}" width="16" height="16" />
                                <img th:src="@{/img/if_sign-error_299045.png}" th:if="${report.reportValue == 'NOK'}" th:alt="${report.indicator.description}" th:title="${report.indicator.description}" width="16" height="16" />
                                <img th:src="@{/img/if_sign-question-mark.png}" th:if="${report.reportValue == 'Not Enough Tests'}" th:alt="${report.indicator.description}" th:title="${report.indicator.description}" width="16" height="16" />
                            </span>
                            <span class="label" th:if="${report.progressSummary(isTeacher) != null}"
                                  th:classappend="${report.cssLabel}"
                                  th:title="${report.indicator.description}"
                                  th:text="${report.progressSummary(isTeacher)}">14/14</span>
                        </span>
                    </td>
                    <td>
                        <a th:href="@{'/buildReport/' + ${submission.id}}">
                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                        </a>
                    </td>
                </tr>
            </table>

        </tr>
    </table>




</div>

<div th:replace="layout/layout :: footer"></div>

</body>
</html>