<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head (pageTitle='Drop Project - Upload submission')">
</head>

<body>

<div th:replace="layout/layout :: header"></div>

<div class="container" style="max-width: 760px; margin-bottom: 65px">

    <div class="row">
        <h1 class="page-header col-sm-11" th:if="${assignment != null}" th:text="${assignment.name}">Assignment</h1>
        <span class="label label-warning col-sm-1" th:if="${!assignment.active}">Inactive</span>
    </div>

    <p th:if="${isTeacher}">
        <a class="btn btn-default" th:href="@{'/assignment/info/' + ${assignment.id}}">Show assignment info <small>(only
            visible for teachers)</small></a>
    </p>

    <small th:if="${assignment?.dueDate != null}">Deadline: <span
            th:text="${assignment.dueDateFormatted()}"></span></small>

    <div th:if="${error}">
        <div class="alert alert-danger" th:text="${error}"/>
    </div>

    <div th:if="${uploadForm}">
        <form th:object="${uploadForm}" enctype="multipart/form-data" method="post"
              class="dropzone" id="dpDropzone" th:action="@{/upload}" th:if="${coolOffEnd == null}">
            <input type="hidden" th:field="*{assignmentId}"/>
        </form>
        <div class="panel" th:if="${coolOffEnd != null}">
            <img th:src="@{/img/iconfinder_cat_sleep_185528.png}"/>
            &nbsp;
            <span class="lead" th:text="#{student.upload.form.cool-off1}">Relaxa. Estás em período cool-off...</span>
            <span th:text="#{student.upload.form.cool-off2(${coolOffEnd})}"></span>
        </div>
        <br/>
        <p>
            <a th:if="${uploadSubmission != null}" class="btn btn-default btn-md"
               th:href="@{'/buildReport/' + ${uploadSubmission.id}}"
               th:text="#{student.upload.form.visualize-report-btn}">Visualizar último relatório</a>
            <button type="button" class="btn btn-default btn-md"  onclick="copyToClipboard('btnText')">
                <span class="glyphicon glyphicon-link"></span> <span th:text="#{student.upload.form.copy-assignmentID-btn}" id="btnText">Copiar ID</span>
            </button>
        </p>

        <div class="panel panel-default" th:if="${isTeacher and assignment?.cooloffPeriod != null}">
            <div class="panel-body">
                <img width="16" th:src="@{/img/info.png}"/> Cool-off turned on for students. Teachers are not affected
                by this.
            </div>
        </div>

        <br/>
        <br/>

        <div th:utext="${instructionsFragment}"></div>

        <div class="alert alert-info">
            <span th:text="#{student.upload.form.structure1}">O ficheiro tem que ser um zip com a seguinte estrutura:</span>
            <pre th:utext="${packageTree}">
            </pre>
            <span th:text="#{student.upload.form.structure2}">
            Nota: Todos os outros ficheiros devem ser omitidos do ficheiro zip, nomeadamente os
            ficheiros que resultam da compilação
            </span>
        </div>
    </div>

</div>

<div th:replace="layout/layout :: footer"></div>

<script th:src="@{/js/dropzone.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var context = [[@{/}]];
    var dropzonePlaceholder = [[#{student.upload.dropzone.placeholder}]];
    var invalidFileType = [[#{student.upload.dropzone.invalidFileType}]];
    var fileTooBig = [[#{student.upload.dropzone.fileTooBig}]];
    /*]]>*/
</script>
<script th:src="@{/js/dropproject.js}"></script>
<script th:src="@{/js/copyToClipboard.js}"></script>

</body>
</html>
