<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:replace="layout/layout :: head (pageTitle='Drop Project - Student History / Tracker 3000')">
</head>
<body>

<div th:replace="layout/layout :: header"></div>

<div class="container" style="max-width: 900px; margin-bottom: 65px">
    <div th:if="${message}">
        <div class="alert alert-info" th:text="${message}"/>
    </div>

    <h1 class="page-header">Student History</h1>

    <form method="get" th:action="@{/studentHistory}" class="form-horizontal">
        <div class="form-group">
            <label for="id" class="col-sm-3 control-label">Student id or name</label>
            <div class="col-sm-9">
                <select class="form-control basicAutoSelect" id="id" name="id" autocomplete="off" placeholder="type to search..." />
            </div>
        </div>

        <div class="col-sm-3">
        </div>
        <div class="col-sm-9">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>


</div>

<div th:replace="layout/layout :: footer"></div>
<script src="https://cdn.jsdelivr.net/gh/xcash/bootstrap-autocomplete@v2.3.5/dist/latest/bootstrap-autocomplete.min.js"></script>
<script>
    $(document).ready(function() {
        $('.basicAutoSelect').autoComplete({
            resolverSettings: {
                url: 'studentList'
            },
            formatResult: function (item) {
                return {
                    value: item.value,
                    text: "[" + item.value + "] " + item.text,
                };
            },
        });
    });
</script>

</body>
</html>