<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:replace="layout/layout :: head (pageTitle='Drop Project - Student History / Tracker 3000')">
</head>
<body>

<div th:replace="layout/layout :: header"></div>

<div class="container" style="max-width: 900px; margin-bottom: 65px">
    <div th:if="${message}">
        <div class="alert alert-info" th:text="${message}"/>
    </div>

    <div th:if="${studentHistory}">
        <strong>Student ID:</strong> <div th:text="${studentHistory.author.userId}"></div>
        <strong>Student Name:</strong> <div th:text="${studentHistory.author.name}"></div>
    </div>

    <table class="table" th:if="${studentHistory}">
        <thead>
        <tr>
            <th>Assignment ID</th>
            <th>Group Members</th>
            <th>Nr. of Submissions</th>
            <th>Submissions</th>
            <th>Last Submission Date</th>
            <th>Failing Tests</th>
            <th>Latest report</th>
        </tr>
        </thead>
        <!--/*@thymesVar id="signalledGroups" type="java.util.ArrayList<org.dropProject.data.GroupedProjectGroups>"*/-->
        <tr th:each="history: ${studentHistory.history}">
            <td th:text="${history.assignment.id}"/></td>
            <td><a th:each="author: ${history.getGroup().authors}" th:href="'/studentHistory/' + ${author.userId}"><span th:text="${author.name}"></span></a></td>
            <td th:text="${history.getNrOfSubmissions()}"></td>
            <td><a th:each="groupID: ${studentHistory.author.userId}" th:href="'/submissions/?assignmentId=' + ${history.assignment.id} + '&groupId=' + ${history.group.id}">View submissions</a></td>
            <td th:text="${history.getLastSubmission().submissionDate}"></td>
            <td>...</td>
            <td>..</td>
        </tr>
    </table>

</div>

</body>
</html>