<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head (pageTitle='Drop Project - Git submission')">
</head>

<body>

<div th:replace="layout/layout :: header"></div>

<!--/*@thymesVar id="assignment" type="org.dropProject.dao.Assignment"*/-->
<!--/*@thymesVar id="gitSubmission" type="org.dropProject.dao.GitSubmission"*/-->
<!--/*@thymesVar id="lastCommitInfo" type="org.dropProject.services.GitClient.CommitInfo"*/-->
<div class="container" style="max-width: 900px; margin-bottom: 65px">

    <div class="row">
        <h1 class="page-header col-sm-11" th:if="${assignment != null}" th:text="${assignment.name}">Assignment</h1>
        <span class="label label-warning col-sm-1" th:if="${!assignment.active}">Inactive</span>
    </div>

    <p th:if="${isTeacher}">
        <a class="btn btn-default" th:href="@{'/assignment/info/' + ${assignment.id}}">Show assignment info <small>(only
            visible for teachers)</small></a>
    </p>

    <small th:if="${assignment?.dueDate != null}">Deadline: <span th:text="${assignment.dueDateFormatted()}"></span></small>

    <div th:if="${error}">
        <div class="alert alert-danger" th:text="${error}"/>
    </div>
    <div th:if="${message}">
        <div class="alert alert-info" th:text="${message}"/>
    </div>

    <div>
        <div th:if="${gitSubmission?.connected != true}" class="dropzone" >
            <div class="alert alert-warning">
                <span th:text="#{student.git.form.instruction1}">Ainda não ligaste o Drop Project ao repositório Git com o teu projecto.</span>
                <br/>
                <span th:text="#{student.git.form.instruction2}">Verifica primeiro que o repositório tem a estrutura de pastas e ficheiros indicada abaixo.</span>
            </div>
            <form th:action="@{/student/setup-git}" method="post">
                <div class="form-group" th:classappend="${gitRepoErrorMsg} ? 'has-error' : ''">
                    <label>Repositório GIT (SSH style)
                        <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="popover"
                              data-trigger="focus" tabindex="0"
                              title="Na página do repositório no github:" data-html="true"
                              data-content="&lt;img src='../img/github-clone-ssh.png' width='250'/&gt;"></span>
                    </label>
                    <input tabindex="1" name="gitRepositoryUrl" type="text" class="form-control" id="gitRepositoryUrl"
                           placeholder="git@github.com:someuser/cs1Assigment1.git" maxlength="120" th:value="${gitRepositoryUrl}" />
                    <p class="help-block" th:if="${gitRepoErrorMsg}" th:text="${gitRepoErrorMsg}"></p>
                </div>
                <input type="hidden" name="assignmentId" th:value="${assignment.id}"/>
                <input type="submit" name="btn" th:value="#{student.git.form.configure-btn.value}" class="btn btn-success"/>
            </form>
        </div>

        <div th:if="${gitSubmission?.connected == true}" class="dropzone" >
            <div class="panel" th:if="${coolOffEnd != null}">
                <img th:src="@{/img/iconfinder_cat_sleep_185528.png}" />
                &nbsp;
                <span class="lead" th:text="#{student.git.form.cool-off1}">Relaxa. Estás em período cool-off...</span>
                <span th:text="#{student.git.form.cool-off2(${coolOffEnd})}"></span>
            </div>
            <div class="alert alert-info col-md-12">
                <div class="col-md-9" th:classappend="${coolOffEnd != null} ? 'text-disabled' : ''">
                    Ligado a <strong><span th:text="${gitSubmission.gitRepositoryUrl}"></span></strong>
                </div>

                <div class="col-md-3">
                    <form th:action="@{'/student/reset-git/' + ${gitSubmission.id}}" method="post">
                        <input type="submit" class="btn btn-info btn-sm" th:value="#{student.git.form.remove-btn.value}"
                               data-toggle="confirmation" th:data-title="#{student.git.form.remove-btn.value}"
                               th:data-content="#{student.git.form.remove-btn.confirmation}"
                               th:data-btn-ok-label="#{student.git.form.remove-btn.ok}"
                               th:data-btn-cancel-label="#{student.git.form.remove-btn.cancel}"
                               th:disabled="${coolOffEnd != null}" />
                    </form>
                </div>
            </div>
            <table class="table table-striped">
                <tr>
                    <th th:text="#{student.git.form.last-submission}">Última atualização</th>
                    <td th:text="${lastCommitInfo.getDateAsStr()}"/>
                    <td th:text="${lastCommitInfo.getAuthorName()}"/>
                    <td th:text="${lastCommitInfo.getMessage()}"/>
                </tr>
            </table>

            <button type="button" id="refreshBtn" class="btn btn-primary has-spinner" th:disabled="${coolOffEnd != null}">
                <span class="spinner"><i class="fas fa-sync fa-spin"></i></span>
                <span th:text="#{student.git.form.update-btn}">Atualizar</span>
            </button>
            <button th:if="${gitSubmission.lastSubmissionId == null}" type="button" id="generateReportBtn"
                    class="btn btn-primary" th:disabled="${coolOffEnd != null}"
                    th:text="#{student.git.form.generate-report-btn}">Gerar relatório</button>
            <a th:if="${gitSubmission.lastSubmissionId != null}" class="btn btn-primary"
               th:href="@{'/buildReport/' + ${gitSubmission.lastSubmissionId}}"
               th:text="#{student.git.form.visualize-report-btn}">Visualizar relatório</a>
        </div>

        <br/>
        <br/>

        <div class="panel panel-default">
            <div class="panel-body" th:utext="${instructionsFragment}"></div>
        </div>

        <div class="alert alert-info">
            <span th:text="#{student.git.form.structure1}">O repositório tem que ter a seguinte estrutura:</span>
            <pre th:utext="${packageTree}">
            </pre>
            <span th:text="#{student.git.form.structure2}">Nota: Todos os outros ficheiros devem ser omitidos do repositório, nomeadamente os
                ficheiros que resultam da compilação (dica: usa o .gitignore)</span>
        </div>
    </div>

</div>

<div th:replace="layout/layout :: footer"></div>

<script>
    $(function () {
        $('[data-toggle="popover"]').popover()
    })
</script>

<script th:inline="javascript" th:if="${gitSubmission?.connected == true}">
    /*<![CDATA[*/
    var context = /*[[@{/}]]*/'';
    var refreshUrl = /*[[@{'/git-submission/refresh-git/' + ${gitSubmission.id}}]]*/'';
    var generateReportUrl = /*[[@{'/git-submission/generate-report/' + ${gitSubmission.id}}]]*/'';
    var detailUrl = /*[[@{'/upload/' + ${assignment.id}}]]*/'';
    var _csrf_token = /*[[${_csrf?.token}]]*/ '';
    var _csrf_param_name = /*[[${_csrf?.parameterName}]]*/ '';
    /*]]>*/
</script>
<script th:if="${gitSubmission?.connected == true}">
    $('#refreshBtn').on('click', function (e) {

        $(this).toggleClass('active');

        var requestData = {};
        requestData[_csrf_param_name] = _csrf_token;
        $.ajax({
            url: refreshUrl,
            type: 'POST',
            data: requestData,
            success: function (response) {
                window.location.replace(detailUrl);
            },
            error: function (response) {
                $(this).toggleClass('active');
                var jsonResponse = JSON.parse($.trim(response.responseText));
                alert(jsonResponse.error);
            }
        });
    });

    $('#generateReportBtn').on('click', function (e) {
        var requestData = {};
        requestData[_csrf_param_name] = _csrf_token;
        $.ajax({
            url: generateReportUrl,
            type: 'POST',
            data: requestData,
            success: function (response) {
                var jsonResponse = JSON.parse($.trim(response));
                window.location.replace(context + "buildReport/" + jsonResponse.submissionId);
            },
            error: function (response) {
                var jsonResponse = JSON.parse($.trim(response.responseText));
                alert(jsonResponse.error);
            }
        });
    });
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap-confirmation2@2.4.2/bootstrap-confirmation.min.js"></script>
<script>
    $('[data-toggle=confirmation]').confirmation({
        rootSelector: '[data-toggle=confirmation]'
        // other options
    });
</script>

</body>
</html>
