<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:replace="layout/layout :: head (pageTitle='Drop Project - Signalled Students')">
</head>
<body>

<div th:if="${submissions}">
    <div class="alert alert-info" th:text="${submissions}"/>
</div>

<hr>

<div th:if="${assignments}">
    <div class="alert alert-info" th:text="${assignments}"/>
</div>

<table class="table" th:if="${assignments}">
    <thead>
    <tr>
        <th>Assignment ID</th>
        <th>Failing Tests</th>
        <th>IDE</th>
    </tr>
    </thead>
    <!--/*@thymesVar id="signalledGroups" type="java.util.ArrayList<org.dropProject.data.GroupedProjectGroups>"*/-->
    <tr th:each="assignment: ${assignments}">
        <td th:text="${assignment.name}"/></td>
        <td>...</td>
        <td>.....</td>
    </tr>
</table>

</body>
</html>