<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/layout :: head (pageTitle='Drop Project - Configuração Git')}">
</head>

<body>

<div th:replace="~{layout/layout :: header}"></div>

<!--/*@thymesVar id="gitSubmission" type="org.dropProject.dao.GitSubmission"*/-->
<div class="container" style="max-width: 760px">

    <h1 class="page-header" th:text="#{student.git.setup.title}">Configuração Git</h1>

    <div th:if="${error}">
        <div class="alert alert-danger" th:text="${error}"/>
    </div>

    <p th:if="${!cloned}"><span th:text="#{student.git.setup.authorize1}">Tens que autorizar o Drop Project a aceder a</span> <strong><span th:text="${gitSubmission.gitRepositoryUrl}"></span></strong></p>

    <p th:if="${!cloned}"><span th:text="#{student.git.setup.authorize2}">Acede aos</span>
        <a th:href="${repositorySettingsUrl}" target="_blank" th:text="#{student.git.setup.authorize3}">settings do teu repositório</a>
        <span th:text="#{student.git.setup.authorize4}">e adiciona esta chave pública (public key) à lista de access keys:</span>
        <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="popover"
              data-trigger="focus" tabindex="0"
              th:title="#{student.git.setup.authorize6}" data-html="true"
              data-content="&lt;img src='../img/github-deploy-keys-2.png' width='250'/&gt;"></span>
    </p>
    <div th:if="${!cloned}" class="alert alert-info">
        <span>Title</span><pre>drop-project</pre>
        <span>Key</span>
        <pre th:text="${gitSubmission.gitRepositoryPubKey}"></pre>
    </div>

    <form th:action="@{'/student/setup-git-2/' + ${gitSubmission.id}}" method="post">
        <div class="checkbox">
            <label>
                <input type="checkbox" id="confirmCB" />
                <span th:text="#{student.git.setup.authorize5}" th:if="${!cloned}">Já adicionei esta chave à lista de access keys</span>
                <span th:text="#{student.git.setup.authorize7}" th:if="${cloned}">Já corrigi o problema acima</span>
            </label>
        </div>
        <button type="submit" class="btn btn-primary" id="connectBTN" disabled="disabled"
                th:text="#{student.git.setup.connect-btn}">Estabelecer ligação</button>
    </form>

</div>

<div th:replace="~{layout/layout :: footer}"></div>

<script>
    $("#confirmCB").click(function() {
        $("#connectBTN").attr("disabled", !this.checked);
    });

    $(function () {
        $('[data-toggle="popover"]').popover()
    });
</script>

</body>
</html>
