<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head (pageTitle='Drop Project - Upload submission')">
</head>

<body>

<div th:replace="layout/layout :: header"></div>

<div class="container" style="max-width: 900px; margin-bottom: 65px">

    <div class="row">
        <h1 class="page-header col-sm-11" th:if="${assignment != null}">
            <span th:text="${assignment.name}">
                Assignment
            </span>
            <button type="button" class="btn btn-default btn-sm" style="border: none;"
                    title="Copy the assignment id to the clipboard, to be pasted in the Intellij plugin"
                    onclick="copyToClipboard('btnText')">
                <svg aria-hidden="true" focusable="false" role="img" viewBox="0 0 16 16" width="16" height="16"
                     fill="currentColor" style="display: inline-block; user-select: none;
                     vertical-align: text-bottom; overflow: visible;">
                    <path d="M0 6.75C0 5.784.784 5 1.75 5h1.5a.75.75 0 0 1 0 1.5h-1.5a.25.25 0 0 0-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 0 0 .25-.25v-1.5a.75.75 0 0 1 1.5 0v1.5A1.75 1.75 0 0 1 9.25 16h-7.5A1.75 1.75 0 0 1 0 14.25Z"></path>
                    <path d="M5 1.75C5 .784 5.784 0 6.75 0h7.5C15.216 0 16 .784 16 1.75v7.5A1.75 1.75 0 0 1 14.25 11h-7.5A1.75 1.75 0 0 1 5 9.25Zm1.75-.25a.25.25 0 0 0-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 0 0 .25-.25v-7.5a.25.25 0 0 0-.25-.25Z"></path>
                </svg>
                <span id="btnText"></span>
            </button>
        </h1>
        <span class="label label-warning col-sm-1" th:if="${!assignment.active}">Inactive</span>
    </div>

    <p th:if="${isTeacher}">
        <a class="btn btn-default" th:href="@{'/assignment/info/' + ${assignment.id}}">Show assignment info <small>(only
            visible for teachers)</small></a>
    </p>

    <small th:if="${assignment?.dueDate != null}">Deadline: <span
            th:text="${assignment.dueDateFormatted()}"></span></small>

    <div th:if="${error}">
        <div class="alert alert-danger" th:text="${error}"/>
    </div>

    <div th:if="${uploadForm}">
        <form th:object="${uploadForm}" enctype="multipart/form-data" method="post"
              class="dropzone" id="dpDropzone" th:action="@{/upload}" th:if="${coolOffEnd == null}">
            <input type="hidden" th:field="*{assignmentId}"/>
        </form>
        <div class="panel" th:if="${coolOffEnd != null}">
            <img th:src="@{/img/iconfinder_cat_sleep_185528.png}"/>
            &nbsp;
            <span class="lead" th:text="#{student.upload.form.cool-off1}">Relaxa. Estás em período cool-off...</span>
            <span th:text="#{student.upload.form.cool-off2(${coolOffEnd})}"></span>
        </div>

        <p class="text-right small" style="padding-top: 4px" th:if="${coolOffEnd == null}">
            <span th:text="#{student.upload.form.intellij-plugin}">Também pode submeter diretamente a partir do IntelliJ</span> <strong> <a href="https://www.youtube.com/watch?v=fkqXJ04pUjs&t=4s">[+info]</a></strong>
        </p>
        
        <a th:if="${uploadSubmission != null}" class="btn btn-default btn-md"
           th:href="@{'/buildReport/' + ${uploadSubmission.id}}"
           th:text="#{student.upload.form.visualize-report-btn}">Visualizar último relatório</a>

        <br/>

        <div class="panel panel-default" th:if="${isTeacher and assignment?.cooloffPeriod != null}">
            <div class="panel-body">
                <img width="16" th:src="@{/img/info.png}"/> Cool-off turned on for students. Teachers are not affected
                by this.
            </div>
        </div>

        <br/>

        <div th:utext="${instructionsFragment}"></div>

        <div class="alert alert-info">
            <span th:text="#{student.upload.form.structure1}">O ficheiro tem que ser um zip com a seguinte estrutura:</span>
            <pre th:utext="${packageTree}">
            </pre>
            <span th:text="#{student.upload.form.structure2}">
            Nota: Todos os outros ficheiros devem ser omitidos do ficheiro zip, nomeadamente os
            ficheiros que resultam da compilação
            </span>
        </div>
    </div>

</div>

<div th:replace="layout/layout :: footer"></div>

<script th:src="@{/js/dropzone.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var context = [[@{/}]];
    var dropzonePlaceholder = [[#{student.upload.dropzone.placeholder}]];
    var invalidFileType = [[#{student.upload.dropzone.invalidFileType}]];
    var fileTooBig = [[#{student.upload.dropzone.fileTooBig}]];
    /*]]>*/
</script>
<script th:src="@{/js/dropproject.js}"></script>
<script th:src="@{/js/copyToClipboard.js}"></script>

</body>
</html>
