<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:if="${!archived}" th:replace="layout/layout :: head (pageTitle='Drop Project - My assignments')">
</head>
<head th:if="${archived}" th:replace="layout/layout :: head (pageTitle='Drop Project - My archived assignments')">
</head>

<body>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.css">
<div th:replace="layout/layout :: header"></div>

<div class="container" style="max-width: 900px">

    <h1 class="page-header" th:if="${!archived}">Manage Assignments</h1>
    <h1 class="page-header" th:if="${archived}">Archived Assignments</h1>

    <div th:if="${message}">
        <div class="alert alert-info" th:text="${message}"/>
    </div>

    <div th:if="${error}">
        <div class="alert alert-danger" th:text="${error}"/>
    </div>

    <table class="table myDataTable">
        <thead>
        <tr>
            <th>Assignment ID</th>
            <th><select class="selectpicker" multiple data-live-search="true" title="Tags">
                <option th:each="tag: ${allTags}" th:text="${tag.name}" th:selected="${tag.selected}">
            </select></th>
            <th>Last submission</th>
            <th th:if="${!archived}">Active?</th>
            <th th:if="${!archived}">Private?</th>
            <th>Submissions</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="assignments" type="java.util.ArrayList<org.dropProject.dao.Assignment>"*/-->
        <tr th:each="assignment : ${assignments}">
            <td th:text="${assignment.id}" th:title="${assignment.name}"></td>
            <td class="space-between">
                <span th:each="tag: ${assignment.tags}" th:text="${tag.name}" class="label label-info" />
            </td>

            <td th:if="${!archived and assignment.lastSubmissionDate != null}" th:text="${#dates.format(assignment.lastSubmissionDate, 'dd/MMM HH:mm')}"
                th:data-order="${assignment.lastSubmissionDate.time}" class="text-center"></td>

            </td><td th:if="${archived and assignment.lastSubmissionDate != null}" th:text="${#dates.format(assignment.lastSubmissionDate, 'dd/MM/yy')}"
                     th:data-order="${assignment.lastSubmissionDate.time}" class="text-center"></td>

            <td th:if="${assignment.lastSubmissionDate == null}">-</td>
            <td th:if="${!archived}" class="text-center" th:data-order="${assignment.active}">
                <form th:action="@{'/assignment/toggle-status/' + ${assignment.id}}" method="post" style="display: inline;">
                    <input type="checkbox" th:checked="${assignment.active}" onChange="this.form.submit()"/>
                </form>
            </td>
            <td th:if="${!archived}" class="text-center">
                <span th:if="${!assignment.public}" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            </td>
            <td class="text-center">
                <a class="btn btn-default btn-sm" th:href="@{'/report/' + ${assignment.id}}"
                   th:text="${assignment.numSubmissions}"></a>
                <span class="glyphicon glyphicon-user" aria-hidden="true" th:text="${assignment.numUniqueSubmitters}"></span>
            </td>
            <td class="text-center text-nowrap">
                <a th:href="@{'/assignment/info/' + ${assignment.id}}">
                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                </a>
                <form th:if="${!archived}" th:action="@{'/assignment/archive/' + ${assignment.id}}" method="post" style="display: inline;">
                    <button class="glyphicon glyphicon-inbox" aria-hidden="true" type="submit"
                            style="border: 0;" data-toggle="confirmation" data-title="Archive assignment?" title="Archive assignment"></button>
                </form>
                <a th:href="@{'/leaderboard/' + ${assignment.id}}" th:if="${assignment.showLeaderBoard}" alt="Show leaderboard">
                    <img th:src="@{/img/trophy_16.png}" alt="Leaderboard" />
                </a>
                <form th:action="@{'/assignment/delete/' + ${assignment.id}}" method="post" style="display: inline;">
                    <button class="glyphicon glyphicon-trash" aria-hidden="true" type="submit"
                            style="border: 0;" data-toggle="confirmation" data-title="Delete assignment?" title="Delete assignment"></button>
                </form>

            </td>
        </tr>
        </tbody>
    </table>

    <a th:if="${!archived}" th:href="@{/assignment/new}" class="btn btn-primary">Create Assignment</a>
    <a th:if="${!archived}" th:href="@{/assignment/import}" class="btn btn-default"><span class="glyphicon glyphicon-import"></span> Import Assignment</a>

</div>

<div th:replace="layout/layout :: footer"></div>

<script src="//cdn.jsdelivr.net/npm/bootstrap-confirmation2@2.4.2/bootstrap-confirmation.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.js"></script>
<script th:if="${!assignments.isEmpty()}">
    $(document).ready(function() {
        $('[data-toggle=confirmation]').confirmation({
            rootSelector: '[data-toggle=confirmation]'
            // other options
        });

        $('.selectpicker').on('changed.bs.select', function (e, clickedIndex, isSelected, previousValue) {
            if ($('.selectpicker').val() != null) {
                var tagsStr = $('.selectpicker').val().join()
                window.location.replace('?tags=' + tagsStr);
            } else {
                window.location.replace('?');
            }
        });


    });
</script>

<script th:if="${!assignments.isEmpty() and !archived}" th:inline="none">

    $(document).ready(function() {
        var table = $('.myDataTable').DataTable({
            "paging": false,
            "ordering": true,
            "order": [[3, 'desc'], [2, 'desc']],
            "info": false,
            "searching": false,
            "columnDefs": [
                {
                    "targets": [0, 1, 4, 5, 6],
                    "orderable": false
                }
            ]
        });
    });
</script>

<script th:if="${!assignments.isEmpty() and archived}" th:inline="none">

    $(document).ready(function() {
        var table = $('.myDataTable').DataTable({
            "paging": true,
            "pageLength": 25,
            "ordering": true,
            "order": [[2, 'desc']],
            "info": false,
            "searching": false,
            "columnDefs": [
                {
                    "targets": [0, 1, 3, 4],
                    "orderable": false
                }
            ]
        });
    });
</script>

</body>
</html>
