<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head (pageTitle='Drop Project - Test Matrix')">
</head>

<body>

<div th:replace="layout/layout :: header"></div>

<!-- override popover default size because of "mark all as final" explanation -->
<style>
    .popover{
        width:400px;
    }
</style>

<!--/*@thymesVar id="submissions" type="java.util.ArrayList<org.dropProject.data.SubmissionInfo>"*/-->
<div class="container" style="max-width: 900px; margin-bottom: 65px">

    <h1 class="page-header" th:text="${assignmentId} + ' submissions'"></h1>

    <ul class="nav nav-tabs" id="myTab">
        <li role="presentation" th:classappend="${mode == 'summary'} ? 'active' : ''">
            <a th:href="@{'/report/' + ${assignmentId}}" data-toggle="tab" data-target="#myTab">Summary</a>
        </li>
        <li role="presentation" th:classappend="${mode == 'testMatrix'} ? 'active' : ''">
            <a th:href="@{'/testMatrix/' + ${assignmentId}}" data-toggle="tab" data-target="#myTab">Test Matrix</a>
        </li>
        <li role="presentation" th:classappend="${mode == 'signalledSubmissions'} ? 'active' : ''">
            <a th:href="@{'/signalledSubmissions/' + ${assignmentId}}" data-toggle="tab" data-target="#myTab">Signalled Students</a>
        </li>
    </ul>

    <div class="tab-content ">
        <div role="tabpanel" class="tab-pane active">
            <p>&nbsp;</p>

            <div th:if="${message}">
                <div class="alert alert-info" th:text="${message}"/>
            </div>

            <table class="table myDataTable" th:if="${tests != null}">
                <thead>
                <tr>
                    <th>Students <small>(ID/<a class="toggle-vis" data-column-show="1" data-column-hide="0" href="">Name</a>)</small></th>
                    <th>Students <small>(<a class="toggle-vis" data-column-show="0" data-column-hide="1" href="">ID</a>/Name)</small></th>
                    <th class="text-center">Submissions</th>
                    <th class="text-center">Last Submission Date</th>
                    <th>
                        <table class="fixed-width" th:style="${'width: ' + (tests.size() * 20) + 'px'}">
                            <tr>
                                <td th:each="key: ${tests.keySet()}" class="text-center">
                                    <span class="badge-test-count-hidden" th:text="${tests.get(key)}" th:title="${key}" th:if="${key.contains('Hidden')}" />
                                    <span class="badge-test-count-public" th:text="${tests.get(key)}" th:title="${key}" th:if="${!key.contains('Hidden')}" />
                                </td>
                            </tr>
                        </table>
                    </th>
                    <th class="text-center">Actions</th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="submissionInfo : ${submissions}">
                    <td th:text="${submissionInfo.projectGroup.authorsStr(', ')}" th:title="${submissionInfo.projectGroup.authorsNameStr()}"></td>
                    <td th:text="${submissionInfo.projectGroup.authorsNameStr()}" th:title="${submissionInfo.projectGroup.authorsStr(', ')}"></td>
                    <td class="text-center"><a class="btn btn-default btn-sm" th:href="@{/submissions/(assignmentId=${submissionInfo.lastSubmission.assignmentId},groupId=${submissionInfo.projectGroup.id})}"
                                               th:text="${submissionInfo.allSubmissions.size()}"></a></td>
                    <td class="text-center" th:text="${#dates.format(submissionInfo.lastSubmission.submissionDate, 'dd/MMM HH:mm:ss')}"
                        th:data-order="${submissionInfo.lastSubmission.submissionDate.time}"></td>

                    <td class="text-nowrap">
                        <table class="fixed-width" th:style="${'width: ' + (tests.size() * 20) + 'px'}">
                            <tr>
                                <td th:if="${submissionInfo.lastSubmission.testResults != null}" th:each="testResult : ${submissionInfo.lastSubmission.testResults}">
                                    <img th:src="@{/img/if_sign-check_299110.png}" th:if="${testResult.type.value == 'Success'}" th:alt="${testResult.methodName}" th:title="${testResult.methodName}" width="16" height="16" />
                                    <img th:src="@{/img/if_sign-error_299045.png}" th:if="${testResult.type.value != 'Success' and testResult.type.value !='Empty'}" th:alt="${testResult.methodName}" th:title="${testResult.methodName}" width="16" height="16" />
                                    <img th:src="@{/img/if_sign-question-mark.png}" th:if="${testResult.type.value == 'Empty'}" th:alt="${testResult.methodName}" th:title="${testResult.methodName}" width="16" height="16" />
                                </td>
                            </tr>
                        </table>
                    </td>

                    <td class="text-nowrap text-center">
                        <a th:href="'../buildReport/' + ${submissionInfo.lastSubmission.id}">
                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

<div th:replace="layout/layout :: footer"></div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap-confirmation2@2.4.2/bootstrap-confirmation.min.js"></script>
<script>
    $('[data-toggle=confirmation]').confirmation({
        rootSelector: '[data-toggle=confirmation]'
        // other options
    });

    $(document).ready(function() {
        var table = $('.myDataTable').DataTable( {
            "paging":    false,
            "ordering":  true,
            "info":      false,
            "searching": false,
            "order": [],
            "columnDefs": [
                {
                    "targets": [ 0, 1, 2, 4, 5 ],
                    "orderable": false
                },
                {
                    "targets": [ 1 ],  // 1 - Student Name
                    "visible": false,
                    "orderable": false
                },
                {
                    "targets": [ 3 ],  // 3 - Last submission date
                    "searchable": false
                }
            ]
        });

        // toggle student ID and name
        $('a.toggle-vis').on( 'click', function (e) {
            e.preventDefault();

            // Get the column API object
            var columnShow = table.column( $(this).attr('data-column-show') );
            var columnHide = table.column( $(this).attr('data-column-hide') );

            // Toggle the visibility
            columnHide.visible( false );
            columnShow.visible( true );
        } );

        // clicking on a tab changes the url
        $(document).ready(function() {
            $('#myTab a').click(function(e) {
                e.preventDefault();
                var url = $(this).attr("href");
                location.href = url;
            });
        });
    } );
</script>

</body>
</html>
