name: Run Tests

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      # uncomment this when github actions don't find maven
#      - name: Check maven version
#        run: mvn --version
      - name: Cache Maven packages
        uses: actions/cache@v2
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - name: Build with Maven
        env:
          DP_M2_HOME: /usr/share/apache-maven-3.8.6
          DP_MVN_REPO: ~/.m2
        run: mvn --batch-mode --update-snapshots verify
      - name: Upload coverage to codecov
        uses: codecov/codecov-action@v1.2.1
        with:
          file: ./target/site/jacoco/jacoco.xml
          flags: unittests

#      - name: Upload war file to github releases
#        uses: AButler/upload-release-assets@v2.0
#        with:
#          files: 'target/drop-project.war'
#          repo-token: ${{ secrets.GITHUB_TOKEN }}
#          release-tag: 0.9.3